*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: white;
}
#term{
    width: 80%;
    height: 22rem;
    color: white;
    border-radius: 5px;
    background-color: indianred;
    display: flex;
}
#bb{
    margin-top: 10%;
}
.geed{
    width: 100%;
    height: 50%;
    display: flex;
}
.good .bood .bud{
    width: 30%;
    height: 50%;
}
h3{
    font-size: 2;
}
.butt{
    width: 20%;
    padding: 5px;
    border-radius: 5px;

}
.pik{
    width: 32rem;
    height: 30rem;
    background-image: url(young-interracial-couple-spending-nice-time-together-cafe.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;

}
.pink{
    width: 26rem;
    height: 15rem;
    background-image: url(pik.jpg);
    background-size: cover;
}
.piky{
    width: 26rem;
    height: 15rem;
    background-image: url(piky.jpg);
    background-size: cover;
    margin-top: 2px;
    border-radius: 5px;

}
#buy{
    display: flex;
    gap: 2rem;
    margin-top: 40px;
    width: 100%;
}
.popy{
    width: 80%;
    height: 10rem;
    border-radius: 5px;
    background-color: indianred;
    /* margin-top: -100px;
    position: absolute; */
   
}
.pp{
    padding-left: 2rem;
    /* width: 70%; */
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    width: 100%;
    height: 10rem;
    color: white;
    background-color: black;
 }
hr{
    color: white;
}

.contact{
    display: flex;
    justify-content: space-around;
    gap: 5rem;

}
#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 24px;

}

#main{
    display: none;
}
.cc{
    display: flex;
}
#par{
    width: 50%;
}
 @media screen and (min-width:212px) and (max-width:430px){
  
    .geed{
        flex-direction: column;
    }
    #buy{
        flex-direction: column;
        /* width: 100%; */
        /* display: none; */
    }
    .pik{
        width: 100%;
    }
    .ppp{
        padding: 2rem;
        text-align: justify;
    }
    #term{
        height: 50rem;
        flex-direction: column;
        }
        .im{
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
        #bb{
            width: 50%;
            justify-content: center;
            align-items: center;
        }
        #par{
            width: 100%;
         }
    }
    
 